// @mixin center {
//     position: absolute;
//     top: 50%;
//     left: 50%;
//     transform: translate(-50%, -50%);
// }

// .tetris__wrap {
//     @include center;
//     width: 500px;
//     height: 700px;
//     border-radius: 20px;
//     background: rgba(0, 0, 0, 0.5);
//     backdrop-filter: blur(20px);
//     position: absolute;
//     display: none;
// }

// .tetris__play {
//     .view {
//         > ul {
//             border: 2px solid #fff;
//             margin: 80px auto;
//             width: 300px;

//             > li {
//                 width: 100%;
//                 height: 25px;

//                 > ul {
//                     display: flex;

//                     > li {
//                         width: 25px;
//                         height: 25px;
//                         outline: 0.25px solid #fff;
//                     }
//                 }
//             }
//         }
//     }
//     .Tmino {
//         /* border: 6px outset #A042A2 !important; */
//         background-color: #952d98;
//     }
//     .Imino {
//         /* border: 6px outset #1AA9DE !important; */
//         background-color: #009fda;
//     }
//     .Omino {
//         /* border: 6px outset #FED01A !important; */
//         background-color: #fecb00;
//     }
//     .Zmino {
//         /* border: 6px outset #EF3E4D !important; */
//         background-color: #ed2939;
//     }
//     .Smino {
//         /* border: 6px outset #78C53E !important; */
//         background-color: #69be28;
//     }
//     .Jmino {
//         /* border: 6px outset #1A74C4 !important; */
//         background-color: #0065bd;
//     }
//     .Lmino {
//         /* border: 6px outset #FF861A !important; */
//         background-color: #ff7900;
//     }
//     .header {
//         text-align: center;
//         font-size: 28px;
//         margin-top: 10px;
//     }
// }
// .popup {
//     display: none;
//     justify-content: center;
//     align-items: center;
//     flex-direction: column;
//     position: fixed;
//     width: 100%;
//     height: 100%;
//     background-color: rgba(0, 0, 0, 0.7);
//     left: 0;
//     top: 0;
//     color: #fff;
//     font-size: 50px;
//     z-index: 1;
// }
// .popup h2 {
//     font-size: 50px;
//     text-align: center;
//     margin-top: 220px;
// }
// .popup > div {
//     text-align: center;
//     margin-top: 20px;
// }
// .popup > div > button {
//     padding: 0.8rem 2rem;
//     color: #fff;
//     background-color: salmon;
//     border: none;
//     // cursor: pointer;
//     transition: ease-in, 300ms;
//     font-size: 20px;
// }
// .popup > div > button:hover {
//     transform: scale(1.1);
// }

.tetris__wrap {
    display: none;

    &.show {
        position: relative;
        display: block;
    }
}

.tetris__inner {
    border: 3px solid rgb(62 94 255);
    border-radius: 10px;
    position: absolute;
    right: 500px;
    top: 500px;
    transform: translate(-50%, -50%);
    background: #000;
    animation: flicker 0.5s infinite alternate;

    > .tetris__close__btn {
        position: absolute;
        right: 0%;
        top: 2px;
        width: 60px;
        height: 60px;
        // border: 3px solid rgb(62 94 255);
        // border-radius: 50%;
        // background-color: #000;
        // animation: flicker2 0.5s infinite alternate;
        text-align: center;
        line-height: 50px;
        color: #fff;
        font-weight: 700;
        font-size: 24px;
        // text-shadow: 0 0 0.5rem rgb(62 94 255);
        transition: all 0.3s;

        &:hover {
            // background: rgb(114, 143, 255);
            color: rgb(255, 255, 255);
            transform: scale(1.2);
        }
    }
}

@keyframes flicker {
    0%,
    19%,
    21%,
    23%,
    25%,
    54%,
    56%,
    100% {
        box-shadow: 0 0 0.5rem #fff, inset 0 0 0.5rem #fff,
            0 0 2rem rgb(93, 96, 254), inset 0 0 2rem rgb(93, 96, 254),
            0 0 4rem rgb(93, 96, 254), inset 0 0 4rem rgb(93, 96, 254);
    }
}

@keyframes flicker2 {
    0%,
    19%,
    21%,
    23%,
    25%,
    54%,
    56%,
    100% {
        box-shadow: 0 0 0.3rem #fff, inset 0 0 0.3rem #fff, 0 0 1rem #5162ff,
            inset 0 0 1rem rgb(93, 96, 254), 0 0 2rem rgb(93, 96, 254),
            inset 0 0 2rem rgb(93, 96, 254);
    }
}

.tetris__header h2 {
    font-weight: 700;
    text-align: center;
    color: #fff;
    padding-top: 30px;
    text-shadow: 0 0 0.5rem rgb(36, 91, 255);
}

.tetris__start {
    display: none;
    width: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 10;
    transform: translate(-50%, -50%);
    background: #0009;
    text-align: center;
    padding: 20px;
    border-radius: 5px;
    border: 3px solid rgb(62 94 255);
    animation: flicker 0.5s infinite alternate;

    &.show {
        display: block;
    }

    .desc {
        color: #fff;
    }
}

.tetris__desc__title {
    font-size: 26px;
    font-weight: 700;
    margin-bottom: 20px;
    text-shadow: 0 0 0.5rem rgb(62 94 255);
}

.tetris__desc__desc {
    line-height: 1.6;
    margin-bottom: 30px;
}

.tetris__start .start__btn {
    display: inline-block;
    font-size: 24px;
    font-weight: 900;
    color: #fff;
    padding: 1px 30px 2px;
    border-radius: 30px;
    border: 1px solid #fff;
    transition: all 0.3s;

    &:hover {
        background: rgba(32, 69, 255, 0.837);
        text-shadow: 0 0 0.2rem rgb(62 94 255);
        transform: scale(1.1);
    }
}

.tem__btn {
    position: absolute;
    top: -70px;
    left: -110px;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    text-align: right;

    > div {
        margin: 5px 0;
    }

    .tem01:hover {
        color: red;
    }

    .tem02:hover {
        color: gray;
    }

    .tem03:hover {
        color: rgb(62 94 255);
    }
}

.tetris__restart {
    display: none;
    font-size: 30px;
    color: #fff;
    width: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 10;
    transform: translate(-50%, -50%);
    background: #0009;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    border: 3px solid rgb(62 94 255);
    animation: flicker 0.5s infinite alternate;

    &.show {
        display: block;
    }

    img {
        width: 100px;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
    }

    .desc {
        font-weight: 900;
        margin-bottom: 10px;
        text-shadow: 0 0 0.5rem rgb(62 94 255);
    }
}

.tetris__total {
    display: flex;
    justify-content: space-around;
    font-size: 16px;
    margin-bottom: 20px;

    .time {
        margin-right: 10px;
    }

    .line {
    }
}

.tetris__restart {
    .tetris__score {
        margin-bottom: 20px;
        font-size: 18px;

        span {
            font-weight: 700;
            font-size: 24px;
        }
    }

    .restart__btn {
        display: inline-block;
        font-size: 24px;
        font-weight: 900;
        color: #fff;
        padding: 1px 30px 2px;
        border-radius: 30px;
        border: 1px solid #fff;
        transition: all 0.3s;

        &:hover {
            background: rgb(62 94 255);
            text-shadow: 0 0 0.2rem rgb(62 94 255);
            transform: scale(1.1);
        }
    }
}

.tetris__info {
    display: none;
    background: rgba(0, 0, 0, 0.7);
    padding: 10px 10px 10px 15px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    font-size: 14px;
    color: #fff;
    line-height: 1.6;
    text-align: left;
    position: absolute;
    top: 95px;
    right: -71px;
    animation: flicker 0.5s infinite alternate;

    &.show {
        display: block;
        border: 3px solid rgb(62, 94, 255);
    }

    .tit {
        font-size: 16px;
        font-weight: 700;
    }

    .time {
        margin-bottom: 10px;
    }

    .line {
    }
}

.playground > ul {
    padding: 40px;

    > li {
        list-style: none;

        > ul {
            display: flex;

            > li {
                list-style: none;
                width: 30px;
                height: 30px;
                border: 1px dashed rgb(177 190 255);
            }
        }
    }
}

.Tmino {
    border: 10px #a042a2 outset !important;
    background-color: #952d98;
}

.Lmino {
    border: 10px #ff861a outset !important;
    background-color: #ff7900;
}

.Jmino {
    border: 10px #1a74c4 outset !important;
    background-color: #0065bd;
}

.Zmino {
    border: 10px #ef3e4d outset !important;
    background-color: #ed2939;
}

.Smino {
    border: 10px #78c53e outset !important;
    background-color: #69be28;
}

.Omino {
    border: 10px #fed01a outset !important;
    background-color: #fecb00;
}

.Imino {
    border: 10px #1aa9de outset !important;
    background-color: #009fda;
}
